
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<a  href="@Url.Action("InsertTour","Admin")"class="btn btn-success">Thêm tour du lịch</a>
<a href="@Url.Action("AddStaff","Admin")"class="btn btn-danger">Thêm nhân viên mới</a>