@model TourCore.Models.ViewModels.TourViewModel
@{ 
    ViewData["Title"] = "TourDetail";
    Layout = "~/Views/Shared/_LayoutTourDetail.cshtml";
}
<div class="container py-lg-5 py-sm-4">
    <h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Book Your Tour</h2>
    <div class="contact-grids">
        <div class="row">
            <div class="col-lg-7 contact-left-form">
               @await Html.PartialAsync("/Views/BookingTour/BookingTour.cshtml")
            </div>
            <div class="col-lg-5 contact-right pl-lg-5">

                <div class="image-tour position-relative">
                    <img src="@Url.Content("/images/tour_images/"+Model.Picture)" alt="" class="img-fluid" style="width:412px;height:206px"/>
                    <p><span class="fa fa-tags"></span> <span>@Model.Cost?.ToString("#,##")VNĐ</span></p>
                </div>
                <h4>@Model.NameTour</h4>
                <p class="mt-3">
                    @Model.Description
                </p>
            </div>

        </div>
    </div>
</div>
